<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Insider API Automation Suite" parallel="false">

    <listeners>
        <listener class-name="API.listeners.TestListener"/>
    </listeners>

    <test name="Pet Store API Test Cases">
        <classes>
            <class name="tests.PetStoreTest"/>
        </classes>

    </test>
</suite>
